*
{
    padding:0;
    margin:0;
}
.hero
{
    height:100em;
    background-size:cover;
    font-family: sans-serif;
    background-image: linear-gradient(to right, #f8f9f9, #e3f8f9, #cef7f9, #b6f6f9, #9cf5f9);
}
.nav-bar
{
    display:flex;
    height:5%;
    background-color:#2b324b;


}
.navbar-left
{
    flex-basis:70%;
}
.navbar-inner
{
    display:flex;
    align-items:center;
    padding:30px 40px 10px 50px;
}
.navbar-inner ul
{
    margin-left :5px;
    z-index:2;
}
.navbar-inner ul li
{
    margin:0 10px;
    display:inline-block;
    text-decoration: none;
    color:#fff;
    font-size: 25px;

}
.navbar-right
{
    flex-basis:30%;

}
.navbar-right ul
{
    float:right;
    padding:35px 40px 10px 50px;
}
.navbar-right ul li
{
    display:inline-block;
    list-style:none;
    margin-left:40px;
}
.navbar-right ul li a
{
    color:#fff;
    text-decoration: none;
}
.content
{
    display:flex;
    height:40%;
}
.content-left
{
    flex-basis:50%;
    position:relative;
    margin-top:20px;

}
.content-right img
{
    background-position: center;

    height:100%;
    width:100%;
    margin-right: 20px;
    margin-top:30px;
    margin-left:50px;
}
.content-right
{
    flex-basis:50%;
    position:relative;
}
.content-left ,h1
{
    font-size:60px;
    margin-top:20px;
    margin-left:5px;

}
.content-left, h4
{
    display:flex;
    font-size: 20px;
    margin-left:10px;
    color:rgb(8, 41, 37);
}
span a
{
    color:red;
}
.logo {

    color:green;
    font-style:italic;
    text-decoration:underline;
    text-decoration-style:wavy;
    border-bottom:1px;
    margin-left:90px;

}
.registration
{

  display:flex;
}

#registerForm
{
    flex-basis:30%;
    justify-content: center;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    width: 20rem;
    padding: 2rem 1rem;
    background: #e2f0ef;
    border: 3px solid #51aaa3;
    color: #51aaa3;
    margin: 0.5rem;
}

.photo
{

    flex-basis:70%;
    margin-left:150px;
    margin-top:60px;

}
.photo img
{
    width:80%;
    height:90%;
}

.login
{
    display:flex;
}

#loginForm
{
    flex-basis:30%;
    justify-content: center;
    font-size: 2rem;
    line-height: 3;
    text-align: center;
    width: 20rem;
    padding: 2rem 1rem;
    background: #e2f0ef;
    border: 3px solid #51aaa3;
    color: #51aaa3;
    margin: 0.5rem;
}

.container
{
    width:100%;
    margin-top:0px;
    font-family: sans-serif;
    letter-spacing:1px;


}
.container h2
{
    background:#0062cc;
    color:#fff;
    width:200px;
    font-size:24px;
    padding:5px;
    height:40px;

}
.container h2::after
{
    content:'';
    border-top:40px solid #0062cc;
    border-right:40px solid transparent;
    position:relative;
    left:58px;
    top:30px;

}
.row
{
    margin-top:30px;
}
.photo
{
    margin:0px;
    width:100%;
}

.product-bottom .fa
{
    color:#28a75;
    font-size:10px;
}

.product-bottom h3
{
    font-size:20px;
    font-weight:bold;
}

.product-bottom h5
{
    font-size:20px;
    font-weight:bold;
}

.overlay
{
    display:block;
    opacity:0;
    position:absolute;
    top:10%;
    margin-left:0;
    width:70px;
}

.product-top:hover .overlay
{
    opacity:1;
    margin-left:5%;
    transition:0.5s;

}

.overlay .fa
{
    cursor:pointer;
    background-color:#5ad;
    color:#000;
    height:25px;
    font-size:10px;
    padding:7px;
    margin:10%;
    margin-bottom:15%;
}

.overlay .btn-secondary
{
    background:transparent !important;
    border:none !important;
    box-shadow:none !important;
}




.btn-secondary
{
    display:flex;
    align-items:center;
    border:none;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;

  width: 100%;
}

td {

  text-align: left;
  padding: 8px;
  border-bottom: 1px solid #ddd;

}

th {
  background-color: #4CAF50;

  text-align: left;
  padding: 8px;
}
.btn
{
   background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
}













































