{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}
<div class="content">
                <div class="content-left">
                    <div class="upper-text">
                            <h1>Electronics shop</h1><br>
                            <h4>If you want to build robot you can buy component that you want, Also if you want to sell hardware component. </h3>
                            <h4 class="logo">Integrated Solution At One Place</h4>
                    </div>
                </div>
                <div class="content-right">
                        <img src="static/background2.jpg"/>
                </div>
</div>
{% endblock %}